input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.ask input{
  display: block;
  margin: auto;
  margin-bottom: 4px;
  position: relative;
  text-align: center;
}
.engulf {
  text-align: center;
  color: white;
}

body{
  background-color: #232323;
}

li{
  padding: 9px;
  display: inline;
}

ul {
  position: relative;
  left:-18px;
  list-style: none;
}

li{
  font-size: 20px;
  cursor: pointer;
}

.search{
  display: block;
}

.app-logo {
  padding: 50px;

  -webkit-animation: app-logo-spin infinite 20s linear;
  -moz-animation: app-logo-spin infinite 20s linear;
  -o-animation: app-logo-spin infinite 20s linear;
  -ms-animation: app-logo-spin infinite 20s linear;
  animation: app-logo-spin infinite 20s linear;

  height: 200px;
}

@keyframes app-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-atransform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
