#inputt input{
  display: block;
  margin: auto;
  margin-bottom: 4px;
  position: relative;
  text-align: center;
}
.nav {
  text-align: center;
  color: white;
}

body{
  background-color: #232323;
}

li{
  padding: 9px;
  display: inline;
}

ul {
  position: relative;
  left:-18px;
  list-style: none;
}

li{
  font-size: 20px;
  cursor: pointer;
}

.search{
  display: block;
}

.app-logo {
  padding: 50px;
  animation: app-logo-spin infinite 20s linear;
  height: 200px;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
